html, body {
  overflow: hidden;
}

/* For modern browsers */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  margin: 0;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}